/* mastodon-widget.css */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

a {
  color: var(--text);
  text-decoration: none;
}
#mastodon-widget {
  font-family: "Roboto", sans-serif;
  border: 1px solid var(--border);
  background: var(--bg);
  color: var(--text);
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  resize: both;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

.mastodon-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  font-family: sans-serif;
  overflow: hidden;
}
/* Mastodon Widget CSS */
:root {
  --bg: #fff;
  --text: #111;
  --border: #ccc;
  --hashtag: #027ec5;
  --button-bg: #a3a3a3;
  --button-text: #111;
}
[data-theme="dark"] {
  --bg: #1e1e1e;
  --text: #eee;
  --border: #444;
  --hashtag: #6f6f6f;
  --button-bg: #454545;
  --button-text: #eee;
}
[data-theme="mastodon"] {
  --bg: #563ACC;
  --text: #f4f4f4;
  --border: #785ee3;
  --hashtag: #f4f4f4;
  --button-bg: #f4f4f4;
  --button-text: #563ACC;
}
[data-theme="green"] {
  --bg: #7ca23d;
  --text: #cae3a2;
  --border: #709238;
  --hashtag: #c6e19c;
  --button-bg: #cae3a2;
  --button-text: #7ca23d;
}
[data-theme="midnight"] {
  --bg: #474a53;
  --text: #b8c1da;
  --border: #535660;
  --hashtag: #abb3c8;
  --button-bg: #b8c1da;
  --button-text: #474a53;
}
[data-theme="inkblack"] {
  --bg: #333333;
  --text: #c5c5c5;
  --border: #515151;
  --hashtag: #abb3c8;
  --button-bg: #c5c5c5;
  --button-text: #414141;
}
[data-theme="costume"] {
  --bg: #000000;
  --text: #ffffff;
  --border: #ffffff;
  --hashtag: #ffffff;
  --button-bg: #ffffff;
  --button-text: #000000;
}

.mastodon-header {
  display: flex;
  align-items: center;
  padding: 1em;
  border-bottom: 1px solid var(--border);
  flex-shrink: 0;
}
.avatar {
  width: 48px;
  height: 48px;
  margin-right: 10px;
}
.avatar.circle {
  border-radius: 50%;
}
.avatar.rounded {
  border-radius: 10px;
}
.avatar.square {
  border-radius: 0;
}

.mastodon-body {
  flex: 1;
  overflow-y: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.mastodon-body::-webkit-scrollbar {
  display: none;
}
.toot {
  padding: 1em;
  border-bottom: 1px solid var(--border);
}
.toot-content a {
  text-decoration: none;
  color: var(--text);
}
.toot-content a:hover {
  text-decoration: none;
}
.toot-content .hashtag a {
  color: var(--hashtag);
  font-weight: bold;
}
.toot-content .hashtag a:hover {
  text-decoration: underline;
  color: var(--text);
}
.toot-media img {
  max-width: 100%;
  border-radius: 10px;
  margin-top: 10px;
}
.toot-media img.sensitive {
  filter: blur(10px);
}
.toot-meta {
  display: flex;
  justify-content: space-between;
  margin-top: 0.5em;
  font-size: 0.9em;
}
.icon {
  width: 16px;
  height: 16px;
  vertical-align: middle;
  fill: currentColor;
  margin-right: 4px;
}

.toot-header {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.toot-avatar {
  margin-right: 10px;
}

.toot-avatar img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.toot-info {
  display: flex;
  flex-direction: column;
}

.toot-info .toot-date {
  font-size: 0.85em;
  color: var(--text);
}

.reblog-note {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  position: relative;
}

.reblog-note .large-avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
  position: relative;
}

.reblog-note .small-avatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  position: absolute;
  bottom: 0px; /* Nach unten verschieben */
  left: 28px; /* Etwas in die Mitte des großen Bildes verschieben */
  border: 2px solid white;
  z-index: 1; /* Sicherstellen, dass das kleine Bild über dem großen liegt */
}

.reblog-info {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}

.reblog-info a {
  font-weight: bold;
  color: var(--text);
  text-decoration: none;
}

.reblog-info a:hover {
  text-decoration: underline;
}

.reblog-info .toot-date {
  font-size: 0.85em;
  color: var(--text);
}

.mastodon-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: var(--bg);
  border-top: 1px solid var(--border);
}

.footer-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.profile-button {
  margin-left: 10px;
  padding: 8px 12px;
  background-color: var(--button-bg);
  color: var(--button-text);
  text-decoration: none;
  border-radius: 4px;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
}

.info-link {
  margin-right: 10px;
  font-size: 20px;
  color: #555;
  cursor: pointer;
}

.info-link:hover {
  color: #000;
}

.icon.info-link {
  width: 1em;
  height: 1em;
  fill: currentColor;
  display: inline-block;
  margin-left: 1rem;
  color: var(--button-bg);
  vertical-align: middle;
}
